.container-generico {
    background-color: aliceblue;
    margin-top: 5%;
    padding: 0.5%;  
}

.card-generico {
    margin: 2%;
    margin-left: 0%;
    padding: 2px;
}

.div-generico {
    padding-left: 0%;
    padding-right: 0%;
}