/* cards */

#card {
    background: #fbfbfb;
    border-radius: 6px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
    height: 220px;
    margin-top: 2px;
    margin-left: 5rem;
    margin-bottom: 2rem;
    width: 329px;
  }
  #card-content {
    padding: 45px 44px;

  }

  .underline-title {
    text-align: center;
    margin: -1.1rem auto 0 auto;
    width: 89px;
    font-family: "Raleway", sans-serif;
  }

  #card-title {
    font-family: "Raleway Thin", sans-serif;
    letter-spacing: 4px;
    padding-bottom: 23px;
    padding-top: 13px;
    text-align: center;
  }

  .icone {
    font-size: 50px;
    margin-bottom: 30px;
  }
  

  /* Float four columns side by side */
.column {
    width: 50%;
    display: block;
    float: left;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }

  .background{

    background-color: #fcfcfc;  
  }

  .margem_4{

    margin-left: 4rem;
  }

  .margem_2{

    margin-left: 2.6rem;
  }