/* Estilização Página Template */

.container-generico {
    background-color: #ffffff;
    margin: 5% 0 8%;
    padding: 0.5%;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    width: 60%;
    margin: 0 auto;
}


/* Cards */

.card-generico {
    margin: 2%;
    margin-left: 0%;
    padding: 2px;
}

.div-generico {
    padding-left: 0%;
    padding-right: 0%;
}


/* Botão */

.botoes {
    text-align: center;
    margin-top: 2rem;
}

.botoes button {
    text-align: center;
    background: rgba(18, 128, 207, 0.74);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-weight: 700;
}

.botoes button:hover {
    background: rgba(18, 128, 207, 0.918);
}
.button-save{
    text-align: center;
}
.MuiButton-label a {
    color: white;
}

.info-gerais div .MuiFormControl-root{
    display: block ruby;
}

.info-gerais div .MuiFormControl-root .MuiInputBase-root{
    display: contents;
}

.campo-texto div{
    padding-bottom: 0.8rem;
}

.info-gerais .MuiFormControl-root{
    padding-right: 2rem;
}

.info-inicial{
    text-align: center;
}

.info-inicial h2{
    font-size: 1.5rem;
    font-weight: bold;
}
.info-inicial{
    justify-content: center;
}

.titulo-info-gerais{
    font-size: 1.5rem;
    font-weight: bold;
}

.info-gerais h3{
    font-size: 1.3rem;
    margin-top: 1.8rem;
    font-weight: bold;
}
