/* cards */

#card-parceiros {
    background: #fff;
    border-radius: 6px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
    height: 500px;
    width: auto;
    margin-left: -0.1rem;
    margin-bottom: 1rem;

}
   #card-content {
    padding: 45px 44px;

  } 

  .underline-title {
    text-align: center;
    margin: -1.1rem auto 0 auto;
    width: 89px;
  }

  #title {
    padding-left: 1rem;
    padding-top: 0.5rem;
    font-family: 'Montserrat', sans-serif;

  }

  #title h2{

   color: #4a4196;
   text-shadow: 0.5px;
  }

  .icone {
    font-size: 50px;
    margin-bottom: 30px;
  }
  

  /* Remove extra left and right margins, due to padding
   Clear floats after the columns */

  .row {margin: 0 -5px;}

   .row:after {
    content: "";
    display: table;
    clear: both;
  } 
  
  .background{

    background-color: #fff;  
  } 


  .margem{

    margin-left: -5rem;
  }

  .margem-label{
    margin-left: 0.4rem;
  }

  @media(max-width: 768px) {
    .margem{

      margin-left: -5rem;
    }
  
    .margem-label{
      margin-left: 0.4rem;
    }

    
}

@media(max-width: 576px) {
    .app {
        grid-template-rows:
            var(--logo-height)
            var(--menu-top-height)
            1fr
            var(--footer-height);
        grid-template-columns: 1fr;
        grid-template-areas:
            "menu"
            "content"
            "footer";
    }
}